{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<div class="container content__container">
  {% if login_methods|default(false) %}
    <div class="row">
      <div class="content group-left col-md-8">
        <div class="content__main ">
          {% for method in login_methods %}
            <a class="btn btn-primary" href="{{ method.url }}">
              {{ method.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="content group-left col-md-8">
      <div class="content__main ">
        <form{{ attributes }}>
          {{ children }}
        </form>
      </div>
    </div>
  </div>
</div>
