{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{%
  set classes = [
    'form-inline'
  ]
%}

<div class="search-collapse-wrapper d-flex gap-2 order-0 order-md-1">
  <button class="btn btn-link p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
    <i class="fas fa-search"></i>
  </button>
  <div class="collapse bg-white z-1" id="collapseSearch">
    <div class="d-flex gap-2">
      <form{{ attributes.addClass(classes)}}>
        {{ children }}
      </form>
      <button class="btn btn-link p-1 align-self-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</div>

