{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<input{{ attributes.addClass('btn btn-primary') }} />{{ children }}
<div class="btn-search js-show-search">
  <i class="fas fa-fw fa-times"></i>
  <i class="fas fa-fw fa-search"></i>
</div>
