{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
<div class="row">
  <div class="col-md-4 col-lg-4 mb-4">
    <a href="/" class="btn btn-primary">{{ 'Show on map'|t }}</a>
  </div>
  <div class="col-md-4 col-lg-8 mb-4">
    <div class="row">
      {% if q is not empty %}
        {#
          This ensures that, if clean URLs are off, the 'q' is added first,
          as a hidden form element, so that it shows up first in the POST URL.
        #}
        {{ q }}
      {% endif %}
      {{ form.sort_order }}
      {{ form|without('sort_order') }}
    </div>
  </div>
</div>