{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% set number_of_fields = form|keys|filter(v => v starts with 'field_' or v starts with 'sort_')|length %}

<div id="collapseFilters" class="row row-cols-1 row-cols-md-{{ number_of_fields < 2 ? number_of_fields : 2  }} row-cols-lg-{{ number_of_fields < 2 ? number_of_fields : 4  }} d-flex flex-column flex-md-row">
  {{ form }}
</div>
