<div class="hotness-legend mb-3">
  <h4>{{ 'Popularity'|t }}</h4>
  <div>
    <span class="text-muted">{{ 'Cold'|t }}</span>
    <span class="badge hotness-1"></span>
    <span class="badge hotness-2"></span>
    <span class="badge hotness-3"></span>
    <span class="badge hotness-4"></span>
    <span class="badge hotness-5"></span>
    <span class="text-muted">{{ 'hot'|t }}</span>
  </div>
</div>