<div class="hero">
  <div class="hero__media-container">{{ image }}</div>
  <div class="hero__content">
      <h1 class="title underlined is-white hero__title">{{ title }}</h1>
      {{ teaser }}
  </div>
</div>
