{#
/**
 * @file
 * Support counter theme implementation.
 *
 * Available variables:
 * - data: Data for the block.
 * @ingroup themeable
 */
#}
<div>
  <div class="support-counter py-3">
    <span class="support-counter-label">{{ 'Number of supporters'|t }}</span>: <span class="count">{{ data.supportCount }}</span>
  </div>
</div>