<div class="header-v2 mb-5">
  <div class="image-wrapper">
    {{ image }}
  </div>
  <div class="content-wrapper position-relative">
    <div class="container">
      <h1>{{ title }}</h1>
      {{ description }}
    </div>
  </div>
</div>
