{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {# TODO: Content should be editable from admin #}
        <h4>Aarhus Kommune</h4>
        <p>Kultur & Borgerservice<br>
            Hack Kampmanns Plads 2<br>
            8000 Aarhus C<br>
        </p>
        <h5>TLF. 89 40 22 22</h5>
        <p><img src="{{ base_path ~ directory }}/static/images/AAK_02_venstrejusteret_hvid.svg" alt="Aarhus Kommune"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 permalinks">
        {% if content %}
            {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>