{#
/**
 * @file
 * Display of hearing warning
 *
 * Available variables:
 * - config: The available texts
 */
#}


{% if (config.deadline_passed) %}
  <div class="bg-danger p-3">
    <div class="container">
      <span class="text-light">{{ '<strong>Note!</strong> Hearing deadline has passed.'|t  }}</span>
    </div>
  </div>
{% else %}
  <div class="bg-warning p-3">
    <div class="container">
      <span class="text-body">{{ '<strong>Note!</strong> Hearing deadline approaching.'|t  }}</span>
    </div>
  </div>
{% endif %}
