{#
/**
 * @file
 * Poject timeline block template.
 *
 * Available variables:
 * - node: The node fetched from route
 */
#}
<p>
  A basic timeline. You can move and zoom the timeline, and select items.
</p>
<div id="visualization">
  <div class="vis-timeline vis-bottom" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); visibility: visible; height: 146px;">
    <div class="vis-panel vis-background" style="height: 144px; width: 1701px; left: 0px; top: 0px;"></div>
    <div class="vis-panel vis-background vis-vertical" style="height: 144px; width: 1703px; left: 0px; top: 0px;">
      <div class="vis-axis" style="top: 96px; left: 0px;">
        <div class="vis-group">
          <div class="vis-item vis-dot vis-readonly" style="left: 794.154px; top: -4px;"></div>
          <div class="vis-item vis-dot vis-readonly" style="left: 34px; top: -4px;"></div>
          <div class="vis-item vis-dot vis-readonly" style="left: 540.769px; top: -4px;"></div>
          <div class="vis-item vis-dot vis-readonly" style="left: 1427.62px; top: -4px;"></div>
        </div>
      </div>
      <div class="vis-time-axis vis-background">
        <div class="vis-grid vis-vertical vis-minor vis-sunday  vis-odd" style="top: -1px; height: 123px; left: -99.75px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-monday  vis-even" style="top: -1px; height: 123px; left: 26.9423px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-tuesday  vis-odd" style="top: -1px; height: 123px; left: 153.635px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-wednesday  vis-even" style="top: -1px; height: 123px; left: 280.327px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-thursday  vis-odd" style="top: -1px; height: 123px; left: 407.019px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-friday  vis-even" style="top: -1px; height: 123px; left: 533.712px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-saturday  vis-odd" style="top: -1px; height: 123px; left: 660.404px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-sunday  vis-even" style="top: -1px; height: 123px; left: 787.096px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-monday  vis-odd" style="top: -1px; height: 123px; left: 913.788px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-tuesday  vis-even" style="top: -1px; height: 123px; left: 1040.48px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-wednesday  vis-odd" style="top: -1px; height: 123px; left: 1167.17px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-thursday  vis-even" style="top: -1px; height: 123px; left: 1293.87px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-friday  vis-odd" style="top: -1px; height: 123px; left: 1420.56px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-saturday  vis-even" style="top: -1px; height: 123px; left: 1547.25px; width: 126.692px;"></div>
        <div class="vis-grid vis-vertical vis-minor vis-sunday  vis-odd" style="top: -1px; height: 123px; left: 1673.94px; width: 126.692px;"></div>
      </div>
      <div class="vis-current-time" title="Current time: Thursday, August 16th 2018, 14:42:56" style="position: absolute; top: 0px; height: 100%; left: 200912px;"></div>
    </div><div class="vis-panel vis-background vis-horizontal" style="height: 97px; width: 1701px; left: 0px; top: -1px;"></div>
    <div class="vis-panel vis-center" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 97px; width: 1703px; left: -1px; top: -1px;">
      <div class="vis-content" style="left: 0px; top: 0px;">
        <div class="vis-itemset" style="height: 95px;">
          <div class="vis-background">
            <div class="vis-group" style="height: 95px;">
              <div style="visibility: hidden; position: absolute;"></div>
              <div class="vis-item vis-line vis-readonly" style="left: 797.654px; top: 75px; bottom: 0px;"></div>
              <div class="vis-item vis-line vis-readonly" style="left: 37.5px; top: 75px; bottom: 0px;"></div>
              <div class="vis-item vis-line vis-readonly" style="left: 544.269px; top: 75px; bottom: 0px;"></div>
              <div class="vis-item vis-line vis-readonly" style="left: 1431.12px; top: 75px; bottom: 0px;"></div>
            </div><div class="vis-group" style="height: 0px;"><div style="visibility: hidden; position: absolute;"></div>
            </div>
          </div>
          <div class="vis-foreground">
            <div class="vis-group" style="height: 95px;">
              <div class="vis-item vis-box vis-readonly" style="left: 770.154px; top: 45px;">
                <div class="vis-item-content">item 1</div>
              </div>
              <div class="vis-item vis-box vis-readonly" style="left: 10px; top: 45px;">
                <div class="vis-item-content">item 2</div>
              </div>
              <div class="vis-item vis-box vis-readonly" style="left: 516.769px; top: 45px;">
                <div class="vis-item-content">item 3</div>
              </div>
              <div class="vis-item vis-range vis-readonly" style="left: 291.385px; width: 380.577px; top: 5px;">
                <div class="vis-item-overflow">
                  <div class="vis-item-content" style="left: 0px; width: calc(100% - 0px);">item 4</div>
                </div>
                <div class="vis-item-visible-frame"></div>
              </div>
              <div class="vis-item vis-box vis-readonly" style="left: 1403.62px; top: 45px;">
                <div class="vis-item-content">item 5</div>
              </div>
              <div class="vis-item vis-point vis-readonly" style="left: 1677px; top: 47px;">
                <div class="vis-item-content" style="margin-left: 16px;">item 6</div>
                <div class="vis-item vis-dot vis-readonly" style="top: 10px; left: 4px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vis-shadow vis-top" style="visibility: hidden;"></div>
      <div class="vis-shadow vis-bottom" style="visibility: hidden;"></div>
    </div>
    <div class="vis-panel vis-left" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 97px; left: 0px; top: -1px;">
      <div class="vis-content" style="left: 0px; top: 0px;">
        <div class="vis-labelset">
          <div class="vis-label" title="" style="height: 95px;">
            <div class="vis-inner vis-hidden"></div>
          </div>
        </div>
      </div>
      <div class="vis-shadow vis-top" style="visibility: hidden;"></div>
      <div class="vis-shadow vis-bottom" style="visibility: hidden;"></div>
    </div>
    <div class="vis-panel vis-right" style="height: 97px; left: 1702px; top: -1px;">
      <div class="vis-content" style="left: 0px; top: 0px;"></div>
      <div class="vis-shadow vis-top" style="visibility: hidden;"></div>
      <div class="vis-shadow vis-bottom" style="visibility: hidden;"></div>
    </div><div class="vis-panel vis-top" style="width: 1703px; left: -1px; top: 0px;"></div>
    <div class="vis-panel vis-bottom" style="width: 1703px; left: -1px; top: 96px;">
      <div class="vis-time-axis vis-foreground" style="height: 48px;">
        <div class="vis-text vis-minor vis-measure" style="position: absolute;">0</div>
        <div class="vis-text vis-major vis-measure" style="position: absolute;">0</div>
        <div class="vis-text vis-minor vis-sunday  vis-odd" style="top: 0px; left: -99.25px; width: 126.692px;">Sun 13</div>
        <div class="vis-text vis-minor vis-monday  vis-even" style="top: 0px; left: 27.4423px; width: 126.692px;">Mon 14</div>
        <div class="vis-text vis-minor vis-tuesday  vis-odd" style="top: 0px; left: 154.135px; width: 126.692px;">Tue 15</div>
        <div class="vis-text vis-minor vis-wednesday  vis-even" style="top: 0px; left: 280.827px; width: 126.692px;">Wed 16</div>
        <div class="vis-text vis-minor vis-thursday  vis-odd" style="top: 0px; left: 407.519px; width: 126.692px;">Thu 17</div>
        <div class="vis-text vis-minor vis-friday  vis-even" style="top: 0px; left: 534.212px; width: 126.692px;">Fri 18</div>
        <div class="vis-text vis-minor vis-saturday  vis-odd" style="top: 0px; left: 660.904px; width: 126.692px;">Sat 19</div>
        <div class="vis-text vis-major vis-sunday  vis-odd" style="top: 24px; left: 0px;">
          <div>April 2014</div>
        </div>
        <div class="vis-text vis-minor vis-sunday  vis-even" style="top: 0px; left: 787.596px; width: 126.692px;">Sun 20</div>
        <div class="vis-text vis-minor vis-monday  vis-odd" style="top: 0px; left: 914.288px; width: 126.692px;">Mon 21</div>
        <div class="vis-text vis-minor vis-tuesday  vis-even" style="top: 0px; left: 1040.98px; width: 126.692px;">Tue 22</div>
        <div class="vis-text vis-minor vis-wednesday  vis-odd" style="top: 0px; left: 1167.67px; width: 126.692px;">Wed 23</div>
        <div class="vis-text vis-minor vis-thursday  vis-even" style="top: 0px; left: 1294.37px; width: 126.692px;">Thu 24</div>
        <div class="vis-text vis-minor vis-friday  vis-odd" style="top: 0px; left: 1421.06px; width: 126.692px;">Fri 25</div>
        <div class="vis-text vis-minor vis-saturday  vis-even" style="top: 0px; left: 1547.75px; width: 126.692px;">Sat 26</div>
        <div class="vis-text vis-minor vis-sunday  vis-odd" style="top: 0px; left: 1674.44px; width: 126.692px;">Sun 27</div>
      </div>
    </div>
    <div class="vis-rolling-mode-btn" style="visibility: hidden;"></div>
  </div>
</div>