.campaign {
  position: relative;
  padding-bottom: $spacer*5;
  &-media {
    &-image {
      height: 350px;
      background-size: cover;
      background-position: center center;
      img {
        max-height: 100%;
        display: none;
      }
    }
  }
  &-content {
    background-color: $white;
    padding: $spacer*2 $spacer*3;
    margin: -$spacer*2 $spacer*1 $spacer*1 $spacer*1;
    box-shadow: $shadow;
    @include media-breakpoint-up(sm) {
      position: absolute;
      left: 40%;
      bottom: 0;
      width: 40%;
    }
    a {
      display: block;
      text-decoration: none;
    }
    h2, p {
      color: $gray-900;
    }
  }
}
