.card {
  background: $gray-100;
  color: $gray-900;
  text-decoration: none;
  height: 100%;

  .fa-arrow-right {
    color: $primary;
    font-size: 1rem;
    transition: transform 200ms ease-in;
  }

  &:hover {
    .fa-arrow-right {
      transition: transform 400ms ease-out;
      transform: translateX(10px);
    }

    text-decoration: none;
  }

  &-header {
    background: $gray-100;
    font-size: 1.3rem;
  }

  .card-img-top {
    height: 10rem;
    background-size: cover;
    background-position: center center;
  }

  .card-body {
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    min-height: 5rem;
  }

  .card-footer {
    background: $gray-100;
    color: $gray-800;
    font-size: 0.7rem;
  }

  img {
    width: 100%;
  }

  &.hearing-ticket {
    margin-bottom: $spacer;

    .card-header {
      padding-top: 0;
    }

    .card-body {
      min-height: auto;
    }
  }
}
