.filters-wrapper {
  background-color: $white;
  border: 1px solid $gray-400;
  margin-bottom: 3rem;
}

.filters-wrapper select.form-select {
  display: inline-block;
}

.bef-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 16px;
}

.filters-toggle {
  color: $gray-800;
  cursor: pointer;
  display: block;
  font-weight: 400;
  padding: $spacer;

  &:hover {
    color: $primary;
  }

  &[aria-expanded="true"] {
    padding: $spacer;
    background: $primary;
    color: $white;
    margin: 0 $spacer $spacer $spacer;
  }
}

#collapseFilters.collapse:not(.show) {
  display: none;
}
