.filters-toggle-wrapper {
  display: flex;
  flex: 0 0 100%;
}

.filters-toggle {
  display: none;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
  }

  span {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    background: $white;
    border: 1px solid $gray-400;
    color: $gray-800;
    cursor: pointer;
    display: block;
    font-weight: 400;
    flex: 0 0 100%;
    margin-bottom: $spacer;
    padding: $spacer;

    span {
      display: inline;

    }
  }
}

.bef-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -$spacer;
}

#collapseFilters.collapse:not(.show) {
  display: none;
}
