$hero-breakpoint: "sm";

.hero {
  color: $white;
  background: $primary;

  .bg-light {
    color: $black;
    background: $gray-100;
  }

  a,
  .link,
  .link::before {
    color: $white;

    span {
      color: $white;
    }
  }

  a:hover {
    color: $white;
  }

  .underlined {
    &::after {
      background: $white;
    }
  }

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up($hero-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}

.hero__media-container {
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: $spacer;
  max-width: 65ch;
  font-size: $font-size-lg;
  word-break: break-word;

  @include media-breakpoint-up($hero-breakpoint) {
    min-height: 350px;
    padding: $spacer * 2;
  }

  h1 {
    margin-top: 0;
  }
}
