@import "../_custom-mixins";

$hero-breakpoint:   "sm";

.hero {
  @include element-theme($primary, $gray-100, $white);

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up($hero-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}

.hero__media-container {
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: $spacer;
  max-width: 65ch;
  font-size: $font-size-lg;
  word-break: break-word;

  @include media-breakpoint-up($hero-breakpoint) {
    min-height: 350px;
    padding: $spacer * 2;
  }

  h1 {
    margin-top: 0;
  }
}
