// @TODO We may need to have a designer take a look at this!
.info-box {
  background-color: $petroleum-light;
  padding: 1rem;
  margin-bottom: 1rem;

  p {
    max-width: none;
  }

  $block-elements: p, ol, ul, h1, h2;

  #{$block-elements} {
    margin: 0;

    & + #{$block-elements} {
      margin-top: 1rem;
    }
  }
}
