// @TODO We may need to have a designer take a look at this!
.info-box {
  background-color: $petroleum-light;
  padding: $spacer;
  margin-top: $spacer * 3;
  margin-bottom: $spacer;

  p {
    max-width: none;
    font-size: $font-size-base * 1.25;
  }

  $block-elements: p, ol, ul, h1, h2;

  #{$block-elements} {
    margin: 0;

    & + #{$block-elements} {
      margin-top: 1rem;
    }
  }
}
