.list-filter-link-wrapper {
  background: $white;
  border: 1px solid $gray-400;
  color: $gray-800;
  display: grid;
  place-content: center;
  padding: 1rem;
  text-decoration: none;
  text-align: center;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
  }

  &.bef-link-active {
    border: 1px solid $primary;
    color: $primary;
  }
}
