.list-filter-link-wrapper {
  background: $white;
  border: 1px solid $gray-400;
  color: $gray-800;
  display: grid;
  place-content: center;
  padding: 1rem;
  text-decoration: none;
  text-align: center;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
  }

  &.bef-link-active {
    border: 1px solid $primary;
    color: $primary;
  }
}

.list--header {
  height: 2em;
  margin-top: 2em;
}

.list--filter-wrapper {
  position: relative;
  margin-top: -4em;
}


.list--filter-wrapper-inner {
  margin-top: -3em;
}

.list--empty-text {
  border: 2px dashed $gray-500;
  padding: 5em 0;
  margin: 2em 0;
}
