nav.navbar {
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  transition: padding .4s ease-out;
  .scrolled & {
    padding: .1rem 1rem;
    transition: padding .2s ease-in;
  }

  .container {
    position: relative;
  }
}
.navbar-brand {
  margin-right: $spacer*2;

  img {
    height: 70px;
    transition: height .4s ease-out;
    .scrolled & {
      height: 50px;
      transition: height .2s ease-in;
    }
  }
}
.navbar-nav {
  .nav-item {
    .nav-link {
      font-family: $font-family-black;
      font-size: 1rem;
      position: relative;
      display: block;
      font-weight: $font-weight-black;
      color: $black;
      text-transform: uppercase;
      margin-top: .5rem;
      margin-right: 1rem;
      @include media-breakpoint-up(lg) {
        &:before {
          opacity: 0;
          content: "";
          position: absolute;
          height: 0px;
          left: 8px;
          right: 8px;
          bottom: 0;
          background: $primary;
          transition: height .2s ease-out, opacity .2s ease-out;
        }
        &:hover {
          color: darken($primary, 10%);
        }
        &.is-active {
          color: $primary;
        }
        &:hover, &.is-active {
          &:before {
            opacity: 1;
            transition: height .2s ease-in, opacity .2s ease-in;
            height: 4px;
          }
        }
      }
    }
  }

  &.is-secondary-navigation {
    .nav-link {
      color: $gray-800;
      font-size: .9em;
      line-height: 1em;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: .55rem;
      margin-right: 0;
      &.has-border {
        border-right: 1px solid $gray-600;
      }
      &:hover {
        color: darken($primary, 10%);
        text-decoration: underline;
      }
    }

    .nav-item--secondary-navigation:last-child .nav-link.has-border {
      border-right: 0;
    }

    .logout-link {
      border-right: 1px solid $gray-600;
    }
  }
}

.navigation--inner--secondary {
  position: absolute;
  right: 0;
}
