@use "sass:color";

.page-teaser {
  margin-bottom: $spacer * 2;
}

.page-teaser-link {
  font-size: 0.8rem;
  position: absolute;
  bottom: $spacer;
  right: $spacer * 2.5;
  transition: transform 200ms ease-in;
}

.page-teaser-anchorblock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    text-decoration: none;

    .page-teaser-link {
      transition: transform 400ms ease-out;
      transform: translateX(10px);
    }
  }

  &.bg-gray-900 {
    background-color: $gray-900;
    border-bottom: 2px solid color.adjust($gray-900, $lightness: -10%);
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: 2px solid color.adjust($gray-900, $lightness: -10%);
      transition: background-color 400ms ease-out;
    }
  }

  &.bg-petroleum-light {
    background-color: $petroleum-light;
    border-bottom: 2px solid color.adjust($petroleum-light, $lightness: -10%);
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: color.adjust($petroleum-light, $lightness: -10%);
      transition: background-color 400ms ease-out;
    }
  }

  &.bg-petroleum {
    background-color: $petroleum;
    border-bottom: 2px solid color.adjust($petroleum, $lightness: -10%);
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: color.adjust($petroleum, $lightness: -10%);
      transition: background-color 400ms ease-out;
    }
  }
}

.page-teaser-content {
  color: $white;
  padding: $spacer * 2;

  &:hover {
    color: $white;
  }
}

.page-teaser-title {
  font-family: $font-family-black;

  &.underlined {
    &::after {
      background: $white;
      height: 2px;
    }
  }
}
