.page-teaser {
  margin-bottom: $spacer*2;
}

.page-teaser-link {
  font-size: .8rem;
  position: absolute;
  bottom: $spacer;
  right: $spacer*2.5;

  @include transition-std(transform, ease-in, 200ms);
}

.page-teaser-anchorblock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    text-decoration: none;

    .page-teaser-link {
      @include transition-std(transform, ease-out, 400ms);
      @include move-link-right;
    }
  }

  &.bg-gray-900 {
    background-color: $gray-900;
    border-bottom: 2px solid lighten($gray-900, 10%);

    @include transition-std(background-color, ease-in, 200ms);

    &:hover {
      background-color: lighten($gray-900, 10%);

      @include transition-std(background-color, ease-out, 400ms);
    }
  }

  &.bg-petroleum-light {
    background-color: $petroleum-light;
    border-bottom: 2px solid darken($petroleum-light, 10%);

    @include transition-std(background-color, ease-in, 200ms);

    &:hover {
      background-color: darken($petroleum-light, 10%);

      @include transition-std(background-color, ease-out, 400ms);
    }
  }

  &.bg-petroleum {
    background-color: $petroleum;
    border-bottom: 2px solid darken($petroleum, 10%);

    @include transition-std(background-color, ease-in, 200ms);

    &:hover {
      background-color: darken($petroleum, 10%);

      @include transition-std(background-color, ease-out, 400ms);
    }
  }
}

.page-teaser-content {
  color: $white;
  padding: $spacer*2;

  &:hover {
    color: $white;
  }
}

.page-teaser-title {
  font-family: $font-family-black;

  &.underlined {
    &::after {
      background: $white;
      height: 2px;
    }
  }
}
