.authenticate-wrapper {
  border-top: 1px solid $gray-700;
  border-bottom: 1px solid $gray-700;
}

.btn-sign-out {
  font-size: .9em;
  padding: .4rem;
}

.support-progress {
  .progress {
    height: .25em;
  }
}

.citizen-proposal-teaser {
  border-bottom: 2px solid $gray-300;
  &:hover {
    border-bottom: 2px solid $primary;

    @include transition-std(border-bottom, ease-out, 400ms);
  }
}