.proposal-add-form {
  label {
    @extend .h5;
  }

  .js-form-type-checkbox label {
    margin-bottom: 0;
  }

  .form-item--error-message {
    color: #863131;

    @extend .small;
  }
}

.authenticate-wrapper {
  border-top: 1px solid $gray-700;
  border-bottom: 1px solid $gray-700;
}

.btn-sign-out {
  font-size: .9em;
  padding: .4rem;
}

.support-progress {
  .progress {
    height: .25em;
  }
}

.citizen-proposal-teaser {
  border-bottom: 2px solid $gray-300;
  &:hover {
    border-bottom: 2px solid $primary;

    @include transition-std(border-bottom, ease-out, 400ms);
  }
}

// Move maxlength counter below input box.
.form-item-title,
.form-item-proposal-value,
.form-item-remarks-value {
  display: flex;
  flex-direction: column;

  .counter {
    order: 1;
    text-align: right;
    color: $gray-700;
  }
}
