#search-block-form-wrapper {
  text-align: right;
  position: absolute;
  right: 15px;
  top: 50px;
  min-height: 40px;

  @include media-breakpoint-down(md) {
    position: relative;
  }
}

#search-block-form {
  align-items: flex-start;
  border-radius: 5px;
  flex-direction: row;
  padding: 0;
  padding-top: .65em;
  position: relative;
  overflow: hidden;
  min-height: 30px;
  width: 1.5em;
  z-index: 1;

  .form-search {
    display: none;
    border-color: rgba(133, 133, 133, 0);
    border-radius: $border-radius;
    vertical-align: middle;
    height: 30px;
    outline: none;
    padding: 0;
    line-height: 1.5rem;
    width: 0;
    transition: width .5s;
    text-indent: 1rem;

    @include media-breakpoint-down(md) {
      position: relative;
      width: 15rem;
      transition: none;
    }
  }

  .form-actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-search {
    color: $primary;
    height: 30px;
    display: block;
    margin-top: 13px;
    width: 30px;
    cursor: pointer;
  }

  .js-form-submit {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .js-show-search {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .fa-times {
    display: none;
    position: absolute;
    top: 17px;
    right: 3px;
  }

  .fa-search {
    display: block;
    position: absolute;
    top: 13px;
    right: 3px;
  }

  &.is-open {
    border: 1px solid rgba(133, 133, 133, .2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
    background: $white;
    padding-left: $spacer;
    padding-right: $spacer;
    padding-bottom: $spacer / 2;
    width: 32rem;
    transition: width .5s, top .5s;

    .form-search {
      border-color: rgba(133, 133, 133, .5);
      display: block;
      width: 29rem;
      padding-right: $spacer * 3;
    }

    .fa-times {
      display: block;
    }

    .fa-search {
      display: none;
    }
  }
}

.ui-autocomplete.ui-widget.ui-widget-content {
  min-width: 0!important;
  max-height: 100%!important;
  position: relative!important;
  text-align: left;
  z-index: 1050;
  width: 464px!important;
  padding-top: 1em;
  border: 0;

  li {
    border: 0;
    padding: 1em;
  }

  .ui-autocomplete-field-group {
    display: none;
  }

  .ui-menu-item-wrapper {
    display: block;
    position: relative;
    padding: .5rem 1rem;
    transition: none;
    text-decoration: none;
  }

  .ui-menu-item {
    border: 0;
    padding: .5em .75em;
    margin: .15em 0;
    list-style: none;

    &:hover,
    &:focus {
      background: $gray-100;
      border-left: 3px solid $gray-400;
      border-radius: 5px;
    }
  }

  .ui-autocomplete-fields {
    display: flex;
    flex-direction: column;

    .ui-autocomplete-field-title {
      @extend .h4;

      margin-bottom: 0;
      order: 1;

      .ui-autocomplete-field-term {
        color: $primary;
      }
    }

    .ui-autocomplete-field-field_description,
    .ui-autocomplete-field-field_proposal {
      @extend .mb-1;

      order: 2;

      .ui-autocomplete-field-term {
        font-weight: bold;
        color: $primary;
      }
    }

    .ui-autocomplete-field-type {
      @extend .badge;
      @extend .badge-light;

      background-color: $primary;
      color: $white;
      width: fit-content;
      order: 3;
    }

    .ui-autocomplete-field-created {
      display: none;
    }
  }
  .ui-autocomplete-container-no_results li,
  .ui-autocomplete-container-more_results {
    display: none;
  }

  .ui-autocomplete-container-no_results:before {
    content: "Ingen resultater";
  }

}
