.search-collapse-wrapper {
  .collapse {
    display: block;
    width: 100%;

    button {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    .collapse:not(.show){
      display: none;
    }
    .collapse {
      position: absolute;
      right: 0;
      top: 0;
      box-shadow: $box-shadow;
      padding: $spacer;
      width: 50%;
      border-radius: $border-radius;

      button {
        display: block;
      }
    }
  }
}

#search-block-form {

  .btn-search {
    color: $primary;
    display: block;
    cursor: pointer;
  }

  .js-form-submit {
    display: none;
  }

  .form-search {
    border-color: rgba(133, 133, 133, .5);
    display: block;
    width: 100%;
  }
}

.ui-autocomplete.ui-widget.ui-widget-content {
  min-width: 0!important;
  max-height: 100%!important;
  position: relative!important;
  text-align: left;
  z-index: 1050;
  // width: 464px!important;
  padding-top: 1em;
  border: 0;

  li {
    border: 0;
    padding: 1em;
  }

  .ui-autocomplete-field-group {
    display: none;
  }

  .ui-menu-item-wrapper {
    display: block;
    position: relative;
    padding: .5rem 1rem;
    transition: none;
    text-decoration: none;
  }

  .ui-menu-item {
    border: 0;
    padding: .5em .75em;
    margin: .15em 0;
    list-style: none;
    border-left: 3px solid transparent;

    &:hover,
    &:focus {
      background: $gray-100;
      border-left: 3px solid $gray-400;
      border-radius: $border-radius-sm;
    }
  }

  .ui-autocomplete-fields {
    display: flex;
    flex-direction: column;

    .ui-autocomplete-field-title {
      @extend .h4;

      margin: 0;
      order: 1;

      .ui-autocomplete-field-term {
        color: $primary;
      }
    }

    .ui-autocomplete-field-field_description,
    .ui-autocomplete-field-field_proposal {
      @extend .mb-1;
      line-height: $line-height-sm;

      order: 2;

      .ui-autocomplete-field-term {
        font-weight: bold;
        color: $primary;
      }
    }

    .ui-autocomplete-field-type {
      background-color: $primary;
      border-radius: $border-radius-sm;
      padding: 0 $spacer * 0.25;
      color: $white;
      width: fit-content;
      order: 3;
      font-size: $font-size-sm;
    }

    .ui-autocomplete-field-created {
      display: none;
    }
  }
  .ui-autocomplete-container-no_results li,
  .ui-autocomplete-container-more_results {
    display: none;
  }

  .ui-autocomplete-container-no_results:before {
    content: "Ingen resultater";
  }

}
