.signup {
  .last-signup {
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 3em;
      right: 0;
    }

    margin-bottom: 1em;
    position: relative;
  }

  .signup-multiple-dates {
    a {
        text-decoration: none;
        color: inherit; 

        &:hover {
            text-decoration: underline;
        }
    }
}
}
