.splash {
  background-color: $white;
  padding: $spacer * 0.5 $spacer * 0.5 $spacer * 0.5 $spacer * 0.5;
  text-align: center;
}

.splash-label {
  color: $gray-800;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.splash-date {
  padding: 0.75rem;
}

.splash-date-day {
  font-family: $font-family-black;
  font-weight: $font-weight-black;
  font-size: 1.8rem;
  line-height: 1;
  color: $primary;

  &.text-orange {
    color: $orange;
  }
}

.splash-date-month {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $black;
}

.splash-comments {
  border-top: 1px solid $gray-400;
  color: $gray-800;
}

.splash-comments-count {
  font-size: 0.8rem;
  line-height: 1;

  svg {
    margin-right: $spacer * 0.25;
  }
}
