.project-timeline-period {
  label {
    font-size: .8rem;
    font-weight: bold;
  }
}

.project-timeline {
  div {
    cursor: grab!important;

    &.vis-item.vis-box,
    &.vis-item.vis-range {
      border: 0;
      border-radius: 1rem;
      background-color: $primary;

      .vis-item-content {
        color: $white;
        cursor: pointer !important;
        font-size: .7rem;
        padding: 4px 10px;
        line-height: 1em;

        div {
          cursor: pointer !important;
        }
      }
    }

    &.vis-item.vis-line,
    &.vis-item.vis-dot {
      border-color: $primary;
      background-color: $primary;
    }
  }
  .vis-timeline {
    border: 0;
  }

  .vis-grid.vis-vertical {
    border-right: 0;
    border-left: 1px solid $gray-400;
  }

  .vis-bottom {
    .vis-minor {
      display: none;
      visibility: hidden;
    }
  }
}

.project-type-label {
  color: $primary;
}