.underlined {
  margin-bottom: $spacer * 1.2;

  &::after {
    transition: width 200ms ease-in-out;
    content: "";
    display: block;
    width: $underline-width;
    height: 4px;
    margin-top: $spacer * .5;
    background: $primary;
  }

  &.is-white::after {
    background: $white;
  }
}
