@use "sass:color";

body {
  background: $gray-100;
  word-wrap: break-word;
  letter-spacing: .05em;
}

h1, h2, h3, h4, h5, legend {
  font-family: $headings-font-family;
  margin-bottom: $headings-margin-bottom;
  margin-top: $headings-margin-top;
}

p {
  max-width: 45rem;
}

a {
  transition: color .2s ease-in, border-bottom .2s ease-in;

  &:hover {
    color: color.adjust($petroleum, $lightness: -10%);
    transition: color .4s ease-out, border-bottom .3s ease-out;
  }
}

.skip-to-main-content {
  background-color: $white;
}

.text-decoration-underline {
  text-decoration: underline;
}
