$underline-width: 110px !default;
$underline-width-hover: 130px !default;
$aspect-ratio-padding-1-1: 100%;
$aspect-ratio-padding-4-3: 75%;
$aspect-ratio-padding-3-2: 66.66%;
$aspect-ratio-padding-16-9: 56.25%;
$aspect-ratio-padding-8-3: 37.5%;
$font-family-sans-serif: arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-black: arial, sans-serif !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-black: 900 !default;
$line-height-base: 1.5 !default;
$headings-line-height: 1.4 !default;
$headings-font-weight: 700 !default;
$font-size-large: 1.25rem;
$font-size-small: 0.9rem;
$font-size-xs: 0.75rem;

$font-size-title: 4rem !default;
$font-size-teaser: 1.625rem !default; //26px
$font-size-teaser-responsive: 1.25rem !default; //20px

$shadow: 0 0.25rem 1rem rgb(0 0 0 / 16%);
