/*
*   Styles for Deskpro forms
*   Import in Deskpro from Admin -> User interface -> Portal -> CSS -> Edit custom CSS width this line:
*   `@import url("deltag.aarhus.dk/sites/default/files/css/deskpro-custom-css.css");`
*
*   We do it this way since Deskpro randomly throws away the contents
*/



/* Set a max width on text elemensts inside forms */
.deskpro-form-widget .bucket h1, .deskpro-form-widget .bucket .jj-note, .deskpro-form-widget .bucket .form-help p {
  max-width: 620px;
}

/* Change the color of file input */
.attach-file, .attach-file-active {
  /* stylelint-disable */
  background: #f5f5f5;
  /* stylelint-enable */
}
.attach-file .fake-button, .attach-file-active .fake-button {
  /* stylelint-disable */
  background: #b2dada;
  /* stylelint-enable */
}

/* Gray text on disabled input */
input[disabled="disabled"] {
  /* stylelint-disable */
  color: #858585;
  /* stylelint-enable */
}

/*
 * rimi@aarhus.dk 2018-09-06
 * Fix selects and arrow position
 */
.multiselect .default.collapsed span {
  height: auto;
}

.multiselect .default i[class^="fa-caret"],
.multiselect .default i[class*=" fa-caret"] {
  top: 50%;
  margin-top: -8px;
}

/* styles for form in iframe */
.portal-mode-focus-window .dp-page-body,
.portal-mode-focus-window .large-title,
.portal-mode-focus-window .world,
.portal-mode-focus-window .padded {
  padding: 0 !important;
}
