<div class="container bg-white d-flex flex-column flex-md-row newsletter-signup p-3 justify-content-md-around align-items-center row-gap-3">
  <i class="fas fa-envelope fa-2x text-primary"></i>
  <div>
    <h5 class="newsletter-signup--header p-0 m-0 h4">Vil du modtage en mail når der er nyt fra deltag.aarhus.dk?</h5>
    <a href="/nyhedsbrev">Tilmeld dig vores nye service</a> og bliv informeret når der er nyt der interesserer dig
  </div>
  <img class="newsletter-signup--logo d-none d-md-block" src="https://deltag.aarhus.dk/themes/custom/hoeringsportal/aak_right.png" alt="Aarhus Municipality">
</div>
