{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% if(not is_front) %}
  {# Add header to overview pages #}
  <div class="group-header hero-container mb-4">
    <div class="hero hero--image-right">
      <div class="container">
        <div class="hero__content">
          <h1 class="title underlined hero__title pt-4 pb-4">{{ node.title.value }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div {{ attributes.addClass('projects', 'container') }}>
  {{ ds_content }}
</div>
