{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set image_exists = field_media_image_single['#items'][0].value is not null %}
{% set header_text = field_teaser['#items'][0].value|striptags %}
{% set show_page_title = field_show_page_title[0]['#markup']|striptags %}

<div class="group-header">
  {% if image_exists %}
    {{ include(directory ~ '/templates/components/hero.html.twig', {image: ds_content.field_media_image_single, title: node.title.value, teaser: header_text}) }}
  {% elseif show_page_title == 1 %}
    {{ include(directory ~ '/templates/components/header.html.twig', {header: node.title.value, teaser: header_text}) }}
  {% endif %}
</div>

{{ ds_content|without('field_teaser', 'field_media_image_single', 'field_show_page_title') }}
