{# Header #}
{% include directory ~ '/templates/components/header-v2.html.twig' with {
  'image': node.field_project_image|file_url,
  'category': content.field_project_category,
  'title': node.label,
  'description': content.field_short_description,
  'area': content.field_area}
%}

{# Main container #}
<div class="container content__container">
  <div class="row">
    <div class="col-md-8">
      {{ content|without('field_project_image', 'field_short_description', 'field_aside_block', 'field_content_sections', 'field_project_category', 'field_area', 'published_at') }}
    </div>
    <div class="col-md-4 pt-md-3">
      {{ content.field_aside_block }}
    </div>
  </div>
</div>
<div class="sections d-flex flex-column row-gap-5">
  {{ content.field_content_sections }}
</div>
<div class="container">
  <div class="row text-muted">
    {{ content.published_at }}
  </div>
</div>

{# Newsletter signup #}
{% if node_newsletter %}
  {% include '@hoeringsportal/newsletter-bottom-link.html.twig' %}
{% endif %}
