{# Template for Project teaser extending base-card #}

{% extends 'themes/custom/hoeringsportal/templates/components/base-card.html.twig' %}

{% block card_content %}
  <div class="py-0 line-clamp-3">
    {{ node.field_short_description.value }}
  </div>
{% endblock %}
{% block card_footer %}
  <span>{{ content.field_project_category }}</span>
  <span class="is-comma-separated">{{ content.field_area }}</span>
{% endblock %}
