.btn {
  &-category {
    background: $white;
    border: 0;
    border-bottom: 2px solid $pink;
    margin-bottom: $spacer/4 !important;
    &:hover, &:focus, &.active {
      background: $pink-light;
    }
  }
}
