.ui-autocomplete {
  padding: 0;
}

.ui-autocomplete li {
  list-style: none;
}

form.is-submitted [type="submit"],
form .spinner {
  display: none;
}

form.is-submitted .spinner {
  display: block;
}

fieldset .description-top {
  margin-bottom: 1em;
  font-style: italic;
}
