.card {
  border-bottom: 2px solid $gray-500;
  height: 100%;
  &-title {
    .title {
      color: $black;
    }
  }
  .card-img-top {
    height: 10rem;
    background-size: cover;
    background-position: center center;
  }
  .card-body {
    min-height: 5rem;
  }

  img {
    width: 100%;
  }
  &.nemid-validation {
    background: $blue-light;
    border: 2px solid $blue;
  }
}
