.hotness {
  &-legend {
    label, > div {
      display: inline-block;
    }
    label {
      padding-right: $spacer;
    }
    span.badge {
      display: inline-block;
      width: 1rem;
      height: .75rem;
      margin: 0;
      padding: 0;
    }
  }
}

.hotness-1{
  background-color: $blue;
}

.hotness-2{
  background-color: $petroleum;
}

.hotness-3{
  background-color: $purple;
}

.hotness-4{
  background-color: $orange;
}

.hotness-5{
  background-color: $pink;
}
