.underlined {
  margin-bottom: $spacer*1.2;

  &:after {
      @include transition-std(width, ease-in-out, 200ms);
      content: "";
      display: block;
      width: $underline-width;
      height: 4px;
      margin-top: $spacer/2;
      background: $secondary;
  }

  &--primary:after {
      background: $primary;
  }
}
