<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if paragraph.field_paragraph_title.value %}
        <h2>{{ paragraph.field_paragraph_title.value }}</h2>
      {% endif %}
      <div class="row">
        {{ content|without('field_paragraph_title') }}
      </div>
    </div>
  </div>
</div>
